name: Backend Unit Tests

on:
  pull_request:
    branches: [ staging, main ]
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'pnpm'

      - name: Install dependencies
        working-directory: ./backend
        run: pnpm install --frozen-lockfile

      - name: Generate Prisma Client
        working-directory: ./backend
        run: pnpm prisma generate

      - name: Run Unit Tests
        working-directory: ./backend
        env:
          CI: true
        run: pnpm test
